body{
            background-color: rgba(255, 105, 180, 0.658);
            color: aliceblue;
        }
        #html{
            color: orange;
        }
        #CSS{
            color: blue;
        }
        #javascript{
            
        }